{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container py-5">  
<div class="row">
  <h2>Вот что я умею:</h2>

  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Bootstrap
      </li> 
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        GIT
      </li>
    </ul>
  </aside>

  <article class="col-12 col-md-9">
    <p>Скажем так, "умею" это довольно относительное слово, 
        примерно как слово "знаешь" в вопросе "Знаешь ли ты 
        Петю из 4й смены?". Нет, ну ты его конечно знаешь, ты 
        же видел его пару раз, один раз даже стоял рядом в очереди 
        в столовой и перекинулся парой фраз о повышенном уровне
         заветренности сегодняшней гречки, а однажды так вообще 
         вам пришлось в неловком молчании идти рядом друг с другом
          7,5 минут от парковки, при этом обычно ты ходишь быстрее,
           но эта сволочь Петр тащится как черепаха. Хотя все же 
           есть опасения, что некоторые люди вкладывают в слово 
           "знаешь" значение типа знаешь ли ты его привычки, страхи
            и мечты, а также всех не выдержавших сожительство с ним
             домашних животных, которым не повезло быть его питомцами 
             на протяжении жизни.
            <p>Ладно, скажу что знаю все это, и в этом же абзаце
                 поблагодарю ребят из топ коммента на StackOverflow,
                  документаторов Питона, индусов, стримерш, которые 
                  зачем то занимают половину экрана с кодом, когда читают 
                   лекцию, и все всех ребят с ютуба, которые 
                   помогли добраться до этого места.
            </p>
            </p>
  </article>
</div>
</div>
{% endblock %} 
